.raceContainer {
  background-color: #00000050;
  padding: 1rem;
  border-radius: 1rem;

  h2 {
    margin-bottom: 2rem;
  }
}

.racePortraitContainer {
  cursor: pointer;
  img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100rem;
    border: 2px solid #00000000;
  }

  img:hover {
    border: 2px solid #ffffff90;
  }
}
.racePortraitContainer.activeRace {
  cursor: default;
  img,
  img:hover {
    border: 2px solid #ffd000;
  }
}

.chosenRace {
  margin-top: 3rem;
  h4 {
    display: inline;
  }
}
