@import '../../scss/variables';
@import '../../scss/mixins';

.creatorOverview {
  background-color: $colorBgTransparentBlack;
  height: 100%;
  border-left: 1px solid $colorBlack;
  padding-right: 1.2rem;
}

.flexRowCentered {
  @include flexRowCentered;
}

.checkmarkIcon {
  @include flexColCentered;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: auto;
  margin: 0;
  border-radius: 0;
  img {
    margin: auto;
    width: 30px;
    height: 30px;
  }
}

.checkmarkIcon.checked {
  background-color: $colorChecked;
}
.checkmarkIcon:disabled {
  background-color: $colorButtonBgDisabled;
  border: 1px solid $colorBlack;
  cursor: default;
}
.checkmarkIcon.checked:disabled {
  background-color: $colorChecked;
  cursor: default;
}

.checkmarkIcon:disabled:hover {
  border: 1px solid $colorBlack;
}
