@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.sideNavbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem 0 1rem;
  background-color: $colorBgTransparentBlack;
  border-right: 1px solid $colorBlack;

  button {
    text-align: left;
    @include flexRowLeft;
  }

  p {
    padding-left: 0.5rem;
  }
}

.activeSectionBtn {
  background-color: $colorButtonActiveBg;
  color: $colorWhite;
  border: 1px solid $colorButtonActiveBorder;
}

.actionNeeded {
  color: $colorAlert;
  font-weight: 900;
}
