@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;

.abilitiesContainer {
  @include flexColCentered;
  padding-bottom: 2rem;
}

.abilityContainer {
  display: grid;
  grid-template-columns: 50px 30px 150px 50px 50px 50px 60px 60px;
  justify-items: center;
  align-items: center;
  gap: 0;
  h4,
  p {
    margin: 0;
  }

  .abiDummy {
    grid-column: span 5;
  }
}

.abilitiesIcon {
  width: 50px;
  height: 50px;
}
.abilityName {
  justify-self: left;
  padding-left: 0.5rem;
}

.starText {
  font-size: 1.5rem;
  justify-self: right;
  color: $colorPrimaryLightColor;
}

.plusMinusBtn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 2rem;
  @include flexColCentered;
}

.plusMinusBtn:disabled {
  @include disabledButton;
}

.plusMinusBtn:disabled:hover {
  @include disabledButtonHover;
}

.abilitiesContainer {
  .flexRowCentered {
    margin-top: 0.5rem;
    h3 {
      margin: 0;
    }
  }
}

.abilityInfoContainer {
  height: 140px;
  p {
    width: 400px;
    margin: auto;
    margin-top: 1rem;
  }
}
