.skillsContainer {
  .skillContainer {
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px;
    align-items: center;
    margin-top: 2px;
    h4,
    p {
      margin: 0;
    }

    .skillBonus {
      grid-column: span 2;
      text-align: right;
    }
  }
}
