@use '../../../scss/variables' as *;

.skillsContainer {
  .skillContainer {
    display: grid;
    grid-template-columns: 1fr 80px 60px 60px 60px;
    align-items: center;
    margin-top: 2px;

    .skillTitle {
      color: $colorPrimaryLightColor;
    }

    h3,
    h4,
    p {
      text-align: left;
      margin: 0;
    }
  }
}

.skillContainer.humanSkills {
  grid-template-columns: 1fr 80px 60px 60px 60px 60px;
}

.dummyCheckmark {
  height: 30px;
  width: 30px;
  margin: 0;
}
