@import '../../../scss/variables';
@import '../../../scss/mixins';

.spellChoiceBtn {
  border-radius: 0;
  padding: 4px;
  height: 50px;
  width: 50px;
  @include flexColCentered;
  border: 1px solid $colorButtonBorder;
  img {
    height: 40px;
    width: 40px;
  }
}

.spellChoiceBtn:hover {
  background-color: $colorButtonBgHover;
  border: 1px solid $colorButtonBorderHover;
}
.creatorImageChoiceContainer.activeChoice {
  img,
  img:hover {
    border: 2px solid $colorButtonBorderHover;
  }
}
.spellChoiceBtn.selectedChoice {
  border: 2px solid $colorBorderSelected;
}

.spellChoiceBtn.selectedChoice:disabled:hover {
  border: 1px solid $colorChecked;
}
.spellChoiceBtn.selectedChoice:disabled {
  border: 1px solid $colorChecked;
}

.spellChoiceBtn:disabled {
  @include disabledButton;
}
.spellChoiceBtn:disabled:hover {
  @include disabledButtonHover;
}

.alreadySelectedSpellContainer {
  @include flexRowLeft;
  .spellChoiceBtn.alreadySelectedButton:disabled {
    background-color: $colorButtonBgDisabled;
    border: 1px solid $colorButtonBorderDisabled;
    margin-right: 1rem;
  }
}
