@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;
.summaryMainContainer {
  @include flexColCentered;
  padding-bottom: 3rem;
}

.summarySecondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  flex-wrap: wrap;
  .portraitImage {
    height: 120 px;
    width: 120 px;
    margin-bottom: 0.5rem;
    border: 1px solid $colorPrimaryLightColor;
  }
  p {
    margin: 0;
    font-size: 1rem;
  }
  li {
    margin-left: 0;
  }
  ul {
    list-style: none;
    text-align: left;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    gap: 0.4rem;
    @include flexRowLeft;
    li {
      display: inline;
    }
  }

  .spellListItem {
    @include flexRowLeft;

    img {
      height: 25px;
      width: 25px;
      margin-left: 0.3rem;
    }
    span {
      margin: 0;
    }
  }
}

.summaryTitle {
  font-weight: 500;
  color: #f0de7a;
  font-size: 1.1rem;
}
.summarySubTitle {
  font-weight: 500;
  font-size: 1.1rem;
}

.abilitiesSummaryContainer {
  margin: 0;
  @include flexRowLeft;
}

.charStatsOverview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0 1rem;
  margin: 0.5rem 0;

  .charStatContainer {
    @include flexColCentered;
    margin-right: 1rem;
    .charStatName {
      font-size: 1.1rem;
      text-transform: uppercase;
    }
    p {
      margin-top: 0;
      font-size: 1.2rem;
    }
  }
}
