@use '../scss/variables' as *;
@use '../scss/mixins' as *;

.mainContentContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;

  .proceedContainer {
    position: fixed;
    bottom: 0px;
    background-color: $colorBlack;
    height: 100px;
    width: 350px;
    @include flexColCentered;
    border: 1px solid $colorPrimaryLightColor;

    .proceedButtonsContainer {
      @include flexRowCentered;
      gap: 1rem;
    }

    .alertTextContainer {
      @include flexRowCentered;
      margin-bottom: 0.5rem;
      p {
        margin: 0 0 0 0.5rem;
      }
    }

    button {
      padding: 0 2rem;
      background-color: $colorButtonBg;
    }
    button:disabled {
      @include disabledButton;
    }
    button:disabled:hover {
      @include disabledButtonHover;
    }
    button:hover {
      background-color: $colorButtonBgHover;
    }
  }
}
.creatorContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto 300px;
}

.creatorCenterContainer {
  background-color: $colorBgTransparentBlack;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 1px solid $colorBlack;
  border-top: none;
  width: 90%;
  margin-bottom: 5rem;
  h2 {
    margin: 0;
    padding-top: 1rem;
    width: 100%;
    max-width: 1200px;
    color: $colorPrimaryLightColor;
  }
}

.choicesAndSelectedContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  width: 100%;
  padding: 2rem 0;

  h4 {
    margin-top: 0;
    font-size: 1.3rem;
  }
}

.selectedChoiceContainer {
  width: 100%;
  max-width: 540px;
  height: 100%;
  padding: 0 2rem;

  .selectedChoiceHeader {
    @include flexRowCentered;
    img {
      height: 100px;
      width: 100px;
      margin-right: 1rem;
      border-radius: 100%;
    }
  }

  .hInline {
    display: inline;
  }
}
.selectedSpellContainer {
  width: 100%;
  max-width: 540px;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .selectedSpellHeader {
    @include flexRowCentered;
    img {
      height: 40px;
      width: 40px;
      margin-right: 1rem;
      border-radius: 100%;
    }
  }

  .hInline {
    display: inline;
  }

  h4,
  p {
    margin: 0.5rem;
  }

  .iconPContainer {
    @include flexRowCentered;
    margin: 0;
    img {
      height: 20px;
      width: 20px;
      margin: 0 0 0 0.5rem;
    }
  }
}

.choicesContainer {
  width: 100%;
  max-width: 540px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
  margin-top: 0;
  padding: 0 2rem;

  p {
    margin-top: 0;
  }
}

.creatorImageChoiceContainer {
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
  color: $colorWhite;

  img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100rem;
    border: 2px solid transparent;
  }

  img:hover {
    border: 2px solid $colorBgTransparentWhite;
  }
}

.creatorImageChoiceContainer:hover {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
}

.creatorImageChoiceContainer.activeChoice {
  color: $colorPrimaryLightColor;
}

.originIcon {
  border-radius: 1.5rem;
}

.featureH {
  color: $colorPrimaryLightColor;
  margin-bottom: 0;
}

.featureContainer {
  @include flexRowLeft;
  justify-content: start;
  text-align: left;

  .whiteSpan {
    color: #fff;
  }

  img {
    display: inline;
    height: 25px;
    width: 25px;
    margin-right: 8px;
  }
  p {
    display: inline;
    margin: 0.5rem;
  }
  span {
    color: $colorPrimaryLightColor;
  }
}

.styleContainer {
  @include flexRowLeft;
  margin-bottom: 0.5rem;
  gap: 1rem;
  h4 {
    margin: 0;
  }
}
.stylesChoicesContainer {
  padding: 0 2rem;
}

.alertText {
  color: $colorAlert;
}
