.sideNavbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem 0 1rem;
}

button {
  background-color: #8a5a0030;
  color: #e9c600;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #8a5a00;
  cursor: pointer;
}

button:hover {
  border: 2px solid #d48a00;
  background-color: #d48a0030;
}

.activeSectionBtn {
  color: #fff;
  border: 2px solid #e9c600;
  background-color: #8a5a0080;
}
