@mixin disabledButton {
  background-color: $colorButtonBgDisabled;
  border: 1px solid $colorBlack;
  color: $colorLightGray;
  cursor: default;
}
@mixin disabledButtonHover {
  background-color: $colorButtonBgDisabled;
  border: 1px solid $colorBlack;
}
@mixin flexRowCentered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@mixin flexColCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flexRowLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
