$colorPrimaryColor: #f5c62c;
$colorPrimaryLightColor: #f7e893;
$colorBlack: #000;
$colorWhite: #fff;
$colorLightGray: #eee;
$colorButtonBg: #020330;
$colorButtonBgHover: #030563;
$colorButtonActiveBg: #030563;
$colorButtonCancelBg: #550500;
$colorButtonBorder: #d48a00;
$colorButtonBorderHover: #f8b945;
$colorButtonActiveBorder: #fff;
$colorButtonBgDisabled: #333;
$colorButtonBorderDisabled: #111;
$colorBgTransparentBlack: #000000aa;
$colorBgTransparentWhite: #ffffff90;
$colorAlert: #ff4444;
$colorChecked: #008800;
$colorButtonChecked: #005500;
$colorBorderSelected: #00dd00;
// $colorPrimaryColor: #f5c62c;
// $colorPrimaryLightColor: #f7e893;
// $colorBlack: #000;
// $colorWhite: #fff;
// $colorLightGray: #eee;
// $colorButtonBg: #152500;
// $colorButtonCancelBg: #550500;
// $colorButtonBorder: #d48a00;
// $colorButtonBorderHover: #f8b945;
// $colorButtonActiveBg: #225500;
// $colorButtonActiveBorder: #fff;
// $colorButtonBgHover: #350;
// $colorButtonBgDisabled: #333;
// $colorButtonBorderDisabled: #111;
// $colorBgTransparentBlack: #000000aa;
// $colorBgTransparentWhite: #ffffff90;
// $colorAlert: #ff4444;
// $colorChecked: #008800;
// $colorButtonChecked: #005500;
// $colorBorderSelected: #00dd00;
