$colorPrimaryColor: #f5c62c;
$colorPrimaryLightColor: #f0de7a;
$colorButtonBorder: #d48a00;
$colorButtonBorderHover: #f8b945;
$colorBlack: #000;
$colorWhite: #fff;
$colorLightGray: #ddd;
$colorButtonBg: #152500;
$colorButtonActiveBg: #370;
$colorButtonActiveBorder: #fff;
$colorButtonBgHover: #360;
$colorButtonBgDisabled: #333;
$colorButtonBorderDisabled: #111;
$colorBgTransparentBlack: #00000095;
$colorBgTransparentWhite: #ffffff90;
$colorAlert: #ff4444;
$colorChecked: #008800;
$colorButtonChecked: #005500;
$colorBorderSelected: #00dd00;
